body {
    background-color: #161832;
    color: #fff;
    font-family: Lato;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title{
    flex-direction: column;
    line-height: 8px;
}

h1{
    font-weight: 400;
}



